sts/ContractFirstJaxWS/WebContent/WEB-INF/PolicyRegistration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/PolicyRegistration/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PolicyRegistration"
	targetNamespace="http://www.example.org/PolicyRegistration/"
	xmlns:pr="http://www.example.org/PolicyRegistration/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.example.org/PolicyRegistration/">
			<xsd:element name="MemberPolicyInput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Member" type="pr:memberInfo" />
						<xsd:element name="Policy" type="pr:policyInfo" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
				<xsd:complexType name="policyInfo">
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string" />
						<xsd:element name="policyName" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
				<xsd:complexType name="memberInfo">
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string" />
						<xsd:element name="name" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			<xsd:element name="PolicyDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string" />
						<xsd:element name="details" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PolicyRegistration_enroll">
		<wsdl:part element="pr:MemberPolicyInput" name="memberInfo" />
	</wsdl:message>
	<wsdl:message name="PolicyRegistration_enrollResponse">
		<wsdl:part element="pr:PolicyDetails"
			name="policyDetails" />
	</wsdl:message>
	<wsdl:portType name="PolicyRegistration">
		<wsdl:operation name="enroll">
			<wsdl:input message="tns:PolicyRegistration_enroll" />
			<wsdl:output message="tns:PolicyRegistration_enrollResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PolicyRegistrationSOAPBinding"
		type="tns:PolicyRegistration">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="enroll">
			<soap:operation
				soapAction="http://www.example.org/PolicyRegistration/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PolicyRegistration">
		<wsdl:port binding="tns:PolicyRegistrationSOAPBinding"
			name="PolicyRegistrationSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
